@model doctors.Models.UserModel

@{
    ViewData["Title"] = "Schedule Invalid";
}

<h1>Schedule Invalid</h1>

<form asp-action="Index">
    <div class="form-group">
        <input type="submit" value="Go Back" class="btn btn-primary" />
    </div>
</form>