@using NTR.Models
@model NTR.Models.SpecializationModel

@{
    ViewData["Title"] = "Plan visit";
}

<div class="text-center">
    <br />
    You have successfully planned a visit to the doctor.
    <br />
    <br />
    <a asp-controller="Home" asp-action="Index">Back to home page</a>
</div>