@model List<NTR.Models.SchedulePatientViewModel>
   
@{
    ViewData["Title"] = "Visit history";
}

<div class="text-center">
    <h1 class="display-4">Visit history</h1>
        
    <hr />
    @foreach (var visit in Model)
    {
        <div class="row">
            <div class="col-md-3">
                @visit.Specialization
            </div>
            <div class="col-md-3">
                @visit.DoctorName
            </div>
            <div class="col-md-3">
                @visit.Date
            </div>
            <div class="col-md-3">
                <a asp-controller="VisitHistory" asp-action="VisitDetails" asp-route-id="@visit.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
        <hr />
    }
</div>