@model List<List<doctors.Models.ScheduleModel>>

@{
    ViewData["Title"] = "Schedule";
}

<h1>Schedule</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Starting week date
            </th>
            <th>
                Work day start
            </th>
            <th>
                Work day end
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(item[0].Date.ToString("dd-MM-yyyy"))
            </td>
            <td>
                @(item[0].Date.TimeOfDay)
            </td>
            <td>
                @(item[item.Count - 1].Date.TimeOfDay + TimeSpan.FromMinutes(15))
        </tr>
}