@using doctors.Models
@model (string, List<doctors.Models.SchedulePatientViewModel>)

@{
    ViewData["Title"] = "Plan visit";
}

<div class="text-center">
    Selected specialization: @Model.Item1
    <br />
    <a asp-controller="PlanVisits" asp-action="Index">Go back</a>
    <br />
    <hr />
    @foreach (var schedule in Model.Item2)
    {
        <div class="row">
            <div class="col-md-4">
                @schedule.DoctorName
            </div>
            <div class="col-md-4">
                @schedule.Date
            </div>
            <div class="col-md-4">
                <a asp-controller="PlanVisits" asp-action="ChooseSchedule" asp-route-scheduleId="@schedule.Id">Schedule</a>
            </div>
        </div>
        <hr />
    }
</div>