@model List<doctors.Models.ScheduleDoctorViewModel>
   
@{
    ViewData["Title"] = "Planned visits";
}

<div class="text-center">
    <h1 class="display-4">Planned visits</h1>
        
    @foreach (var visit in Model)
    {
        <div class="row">
            <div class="col-md-3">
                @visit.PatientName
            </div>
            <div class="col-md-3">
                @visit.Date
            </div>
            <div class="col-md-3">
                <form asp-action="AddDescription" asp-route-id="@visit.Id" method="post">
                    <input type="submit" value="Add description" class="btn btn-primary" />
                </form>
            </div>
        </div>
        <hr />
    }
</div>